
<h1 class="text-center">Nieuw Merk aanmaken</h1>


<div>
    <div class="col-md-6 " >
        <form>
            
            <div class="form-group">
                <label class="control-label">Naam</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Beschrijving</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Land</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input  value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>

</div>
