@{
    ViewData["Title"] = "Merken";
}

@if (User.IsInRole("admin"))
{
    <div class="row row-merken">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
            <a class="btn testbtn " asp-action="CreateMerk" role="button">Merk toevoegen</a>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
}


<table class="table row-merken ">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Land
            </th>
            <th>
                Beschrijving
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                <a class="a2" href="">Edit</a>
                <a class="a2" href="">Details</a>
                <a class="a2" href="">Delete</a>
            </td>
        </tr>

    </tbody>
</table>

@*<a class="a2" asp-action="Edit" asp-route-id="">Edit</a>*@