@page
@model ErrorModel
@{
    ViewData["Title"] = "Fout";
}

<h1 class="text-danger">Fout.</h1>
<h2 class="text-danger">Er is een fout opgetreden tijdens het verwerken van uw request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Omschakelen naar <strong>Development</strong> environment zal een meer gedetaileerde uitleg weergeven over de opgetreden fout.
</p>
<p>
    <strong>Development environment kan beter niet geactiveerd zijn in deployed applications</strong>, omdat het mogelijk is dat gevoelige informatie van excepties naar de eindgebruiker getoond wordt. Voor locale debugging, kan development environment ingeschakeld worden door de <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable te zetten naar <strong>Development</strong>, en de applicatie te heropstarten.
</p>
