@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/images/antique.jpg" />
        </div>
        <div class="col">
            <div class="text-center">
                <h1 class="display-4">Welkom</h1>
                <p>Door op de knop te drukken kan u mijn mooie verzameling bekijken.</p>
                <button class="btn">Bekijk mijn verzameling</button>
            </div>
        </div>
    </div>
</div>

