@page
@model Disable2faModel
@{
    ViewData["Title"] = "Uitschelen two-factor authenticatie";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        Het uitschakelen van 2FA verandert niets aan de sleutels die worden gebruikt in authenticator-apps. Als u de sleutel wilt wijzigen:
        gebruikt in een authenticator-app moet u <a asp-page="./ResetAuthenticator">authenticator keys veranderen.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Schakel two-factor authenticatie uit</button>
    </form>
</div>
