@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authenticatie herstelcodes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Sla deze codes op in een veilige plaats.</strong>
    </p>
    <p>
        Als u uw toestel verliest en geen toegang hebt tot uw herstelcodes, dan zal u geen toegang hebben tot uw account.
    </p>
    <p>
        Genereren van nieuwe code verandert de keys niet die gebruikt zijn in authenticator apps. Als u uw codes wenst te veranderen
        die gebruikt zijn in een authenticator app kan u best <a asp-page="./ResetAuthenticator">uw authenticator keys veranderen.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Genereer Recovery Codes</button>
    </form>
</div>