@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Uw account bevat persoonlihke data dat u heeft opgegeven. Deze pagina staat toe om deze data op te downloaden of te verwijderen.</p>
        <p>
            <strong>Bij het verwijderen van uw data zal uw account permanent verwijderd worden, zonder de mogelijkheid om te herstellen.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Verwijder</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}