@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Als u uw authenticator key reset, zal uw authenticator app niet werken totdat u het herconfigureerd heeft.</strong>
    </p>
    <p>
        Dit process schakelt two-factor authenticatie totdat u uw authenticator app bevestigt.
        Als u uw authenticator app configuratie niet vervolledigt, kan u uw toegang verliezen tot uw account.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
    </form>
</div>