@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Enkel data dat nodig is voor het gebruik op deze applicatie zal opgeslagen worden, strict in functionaliteit voor deze applicatie.</p>
