@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw wachtwoord is hersteld.  <a asp-page="./Login">klik hier om in te loggen</a>.
</p>
